@{
    ViewData["Title"] = "Eckeub";
}

    <div class="text-center text-info">
        <h1>Лечение пациента @ViewBag.FIO</h1>
    </div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Цена</td>
    </tr>
    @foreach (BusinessLogic.ViewModel.HealingServiseViewModel doctor in ViewBag.HS)
    {
<tr>
    <td>@doctor.ServiseId</td>
    <td>@doctor.Status</td>
    @if (@doctor.Status == BusinessLogic.Enums.OutStatus.Непринято)
    {
        @if ((Program.User.Status == BusinessLogic.Enums.DoctorStatus.Медперсонал))
        {
        <td>
            <a class="btn btn-primary btn-sm" asp-action="ServiceOut" asp-route-id="@doctor.Id" asp-route-pacientid="@ViewBag.PacientId"
               asp-route-heallingid="@ViewBag.HealId">Выполнить</a>
        </td>
        }
        @foreach (BusinessLogic.ViewModel.ServiceViewModel service in ViewBag.Service)
        {
            @if ((service.Status == BusinessLogic.Enums.ServiceStatus.Лекарство)&&(service.Id==doctor.ServiseId))
            {

<td>
    <a class="btn btn-primary btn-sm" asp-controller="Healing" asp-action="SendPdfReport" asp-route-hid="@ViewBag.HealId" asp-route-id="@service.Id" asp-route-pid="@ViewBag.PacientId">Рецепт.pdf</a>
</td>
            }
         } 
    }
</tr>

    }
</table>