
@{
    ViewData["Title"] = "Лечение";
}
<div class="text-center text-info">
    <h1>Лечение</h1>
</div>
<hr />

<p> <strong> <a class="btn btn-success" asp-area="" asp-controller="Healing" asp-route-id="@ViewBag.Id" asp-action="AddHealing">Добавить лечение</a></strong></p>
<hr />
<table class="table">
    <tr>
        <td>Дата</td>
        <td>Диагноз</td>
        <td>Больной</td>
    </tr>
    @foreach (var guest in @ViewBag.Healing)
    {
        <tr>
            <td>@guest.Daya</td>
             @foreach (var diagnos in @ViewBag.Diagnos)
             {
                 @if (@diagnos.Id == guest.DiagnosisId)
                 {
                       <td>@diagnos.Name</td>
                  }
              }
              @foreach (var pacient in @ViewBag.Pacient)
              {
                  @if (pacient.Id == guest.PacientId)
                 {
                       <td>@pacient.FIO</td>
                  }
              }
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Healing" asp-action="Healing" asp-route-id="@guest.Id">Лечение</a>
            </td>
        </tr>
    }
</table>