@{
    ViewData["Title"] = "Eckeub";
}

    <div class="text-center text-info">
        <h1>Лечение пациента @ViewBag.FIO</h1>
    </div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Цена</td>
    </tr>
    @foreach (var doctor in ViewBag.HS)
    {
<tr>
    <td>@doctor.ServiseId</td>
    <td>@doctor.Status</td>
    @if (@doctor.Status==BusinessLogic.Enums.OutStatus.Непринято)
    {
        <td>
            <a class="btn btn-primary btn-sm" asp-action="ServiceOut" asp-route-id="@doctor.Id" asp-route-pacientid="@ViewBag.PacientId"
               asp-route-heallingid="@ViewBag.HealId">Выполнить</a>
        </td>
    }
</tr>

    }
</table>