
@{
    ViewData["Title"] = "Больные Палаты ";
}
<div class="text-center text-info">
    <h1>Больные Палаты @ViewBag.Number</h1>
</div>
<hr />
<div>
    <a class="text-dark" asp-controller="Ward" asp-action="Ward">Вернуться назад</a>
</div>
<table class="table">
    <tr>
        <td>Фио</td>
        <td>Полис</td>
        <td>Адрес</td>
    </tr>
    @foreach (var room in ViewBag.Guests)
    {
        <tr>
            <td>@room.FIO</td>
            <td>@room.Polis</td>
            <td>@room.Adress</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Healing" asp-action="Healing" asp-route-wardid="@ViewBag.WardId" asp-route-id="@room.Id">Лечение</a>
            </td>
        </tr>
    }
</table>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>